.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.accordion__item{
    border-top: 1px solid black;
}
.accordion__mem{
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in;
    max-height: 0;
    cursor: pointer;
}
.accordion__title{
    display: block;
    width: 100%;
}
input:checked ~ .accordion__mem {
    opacity: 1;
    max-height: 100%;
    transition: all 1s ease-in;
}
@media (hover: hover){
    .accordion__item input:hover ~ .accordion__mem {
        opacity: 1;
        max-height: 100%;
        transition: all 0.5s ease-in;
    } 
}
img{
    width: 300px;
}
input{
    display: none;
}